*{
    margin:0px;
    font-family:arial;
    border:border-box;
}


                                             /*                NAVBAR (HEADER PART 1)             */

.navbar{
    height:60px;
    width:100%;
    background-color:#0f1111;
    color:white;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
}



.border_hover{
    border:1.5px solid transparent;  /*with using this, image hilegi nhi */
}
.border_hover:hover{
    border:1.5px solid white;
}


/* AMAZON LOGO  */

.nav_amazon_logo_box{
    height:50px;
    width:100px;

}

#amazon_logo{
    height:50px;
    width:100px;
    background-image:url("Amazon_logo.jpg");
    background-size: cover;
}


/*  AMAZON ADDRESS AND LOCATION */

#location_tag{
    display:flex;
    align-items:center;
}

#one{
   color:#cccccc;
   font-size:0.85rem;
   margin-left:15px;
}

#two{
    font-size:1rem;
    margin-left:3px;

}


/*   AMAZON SEARCH BAR */

.nav_amazon_search_bar{
    display:flex;
    justify-content: space-evenly;
    height:40px;
    width:620px;


}

.border_hover_different:hover{
    border:2px solid orange;
}

#amazon_select{
    background-color:#f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius:4px;
    border-bottom-left-radius: 4px;
    border:none
}

#amazon_placeholder{
    width:100%;
    font-size:1rem;
    border:none;
}

#search_icon_logo{
    width:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#0f1111;
    background-color: #febd68;
    font-size:1.2rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius:4px;
    border:none;

}


/*  AMAZON SIGN IN    AND       RETURNS & ORDERS */

#sign_in{
    font-size:0.75rem;
}

#account{
    font-size:0.85 rem;
    font-weight:700;
}


/*  AMAZON  CART */

.nav_amazon_cart i{
    font-size:30px;
    
}

#cart{
    font-size: 0.85rem;
    font-weight:700;

}




                                                     /*  AMAZON PANEL (HEADER PART 2) */


.panel{
    height:40px;
    width:100%;
    background-color:#222f3d;
    color:white;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

#panel_options{
    width:80%;
    font-size:0.85rem;
}

#panel_options p{
    display:inline;
    margin-left:10px;
}

#panel_deals{
    font-size:0.9rem;
    font-weight:700;
}





                    /*     MAIN / BODY PART OF THE WEBSITE (HERO SECTION )              */


.hero_section{
    height:500px;
    width:100%;
    background-image:url("backgroundimage.jpg");
    background-size: cover;

    display:flex;
    justify-content:center;
    align-items:flex-end;

}

#amazon_message{
    background-color:white;
    color:black;
    height:40px;
    width:90%;
    font-size:0.9rem;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:25px;
}

#amazon_message a{
    color:#007185;
    text-decoration: none;
}




                                                        /*    SHOPPING SECTION  */

.shopping_section{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    background-color: #e2e7e6;
    padding-bottom:15px;
}

.box{
    height:400px;
    width:23%;
    background-color:white;
    margin-top:17px;
    padding-top:20px;
    padding-bottom:15px;   
}

.box_content{
    margin-left:1rem;
    margin-right:1rem;
}
.box_content a{
    color:#007185;
    text-decoration: none;
}


#box1_img{
    height:317px;
    background-image: url("box1.jpg");
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;
}
#box2_img{
    height:317px;
    background-image: url("box2.jpg");
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;

}
#box3_img{
    height:317px;
    background-image: url("box3.jpg");
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;

}
#box4_img{
    height:317px;
    background-image: url("box4.jpg");
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;

}
#box5_img{
    height:317px;
    background-image: url("box5.jpg");
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;

}
#box6_img{
    height:317px;
    background-image: url("box6.jpg");
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;

}
#box7_img{
    height:317px;
    background-image: url("box7.jpg");
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;

}
#box8_img{
    height:317px;
    background-image: url("box8.jpg");
    background-size: cover;
    margin-top:1rem;
    margin-bottom:1rem;

}





                                      /*  FOOTER SECTION  */


.footer_panel_1{
     height:50px;
     width:100%;
     background-color:#37475a;
     color:white;
     font-size:0.85 rem;
     display:flex;
     justify-content:center;
     align-items:center;
}



.footer_panel_2{
    height:300px;
    width:100%;
    background-color:#222f3d;
    color:white;
    display:flex;
    justify-content:space-evenly;
    padding-top:20px;
}

.information_box ul{
    list-style:none;
}

.information_box li{
    margin-top:10px;
}
.information_box p{
    margin-bottom:17px;
}


.information_box a{
    text-decoration:none;
    font-size:0.85 rem;
    color:#D3D3D3;

}







.footer_panel_3{
    height:70px;
    width:100%;
    background-color:#222f3d;
    border-top:0.7px solid white;
    display:flex;
    justify-content:center;
    padding-top:7px;

}

#panel_amazon_logo{
    height:50px;
    width:100px;
    background-image:url("footer_amazon_logo.png");
    background-size: cover;

}





.footer_panel_4{
    height:80px;
    width:100%;
    background-color:#0f1111;
    color:white;
    font-size:0.7 rem;
    text-align:center;
}

.lower_footer_options a{
    text-decoration:none;
    color:white;
    margin-right:27px;
}

.lower_footer_options{
    padding-top:25px;

}

.copyrights{
    padding-top:8px;
}

